.todolist {
  max-height: calc(100vh - 8rem - 430px);
  padding: 1rem 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.todolist .ui.grid > div {
  left: 0 !important;
  width: 100%;
}

.todolist .ui.grid > div + div {
  margin-top: 1rem;
}
