/* form */
.ui.segment.todolist-form {
  padding: 2rem 0;
  border: none;
}

.ui.segment.todolist-form .column + .column {
  margin-top: 1rem;
}

.ui.input > input {
  padding: 1.3rem 4rem 1.3rem 2rem;
  color: #444;
  font-size: 1em;
  font-family: 'Fira Sans Extra Condensed', 'Noto Sans KR', sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 500rem;
  -moz-border-radius: 500rem;
  -ms-border-radius: 500rem;
  -o-border-radius: 500rem;
  border-radius: 500rem;
  box-shadow: 0 2px 10px 0 rgba(31, 38, 135, 0.05);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.ui.input.focus > input,
.ui.input > input:focus {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 500rem;
  -moz-border-radius: 500rem;
  -ms-border-radius: 500rem;
  -o-border-radius: 500rem;
  border-radius: 500rem;
  box-shadow: 0 2px 10px 0 rgba(31, 38, 135, 0.25);
}
.ui.input > input::placeholder {
  color: #938aa8;
  font-weight: 300;
  font-size: 1rem;
}
.ui.action.input:not([class*='left action']) > input {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  -webkit-border-radius: 500rem !important;
  -moz-border-radius: 500rem !important;
  -ms-border-radius: 500rem !important;
  -o-border-radius: 500rem !important;
  border-radius: 500rem !important;
}
.ui.action.input:not([class*='left action']) > input:focus {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
}
.ui.action.input > .button,
.ui.action.input > .buttons {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  background: transparent;
  box-shadow: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ui.action.input > .button.hide,
.ui.action.input > .buttons.hide {
  display: none;
}

/* 시간 설정 */
.ui.segment.todolist-form .MuiInputBase-root {
  color: #444 !important;
  font-size: 1em;
  font-family: 'Fira Sans Extra Condensed', 'Noto Sans KR', sans-serif;
  line-height: 1.21428571em;
  -webkit-border-radius: 500rem;
  -moz-border-radius: 500rem;
  -ms-border-radius: 500rem;
  -o-border-radius: 500rem;
  border-radius: 500rem;
}
.ui.segment.todolist-form .MuiInputBase-root.Mui-focused {
  box-shadow: 0 2px 10px 0 rgba(31, 38, 135, 0.25);
}
.ui.segment.todolist-form .MuiInputBase-input {
  height: auto;
  padding: 1.3rem 4rem 1.3rem 2rem;
}
.ui.segment.todolist-form .MuiOutlinedInput-notchedOutline {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 500rem;
  -moz-border-radius: 500rem;
  -ms-border-radius: 500rem;
  -o-border-radius: 500rem;
  border-radius: 500rem;
  box-shadow: 0 2px 10px 0 rgba(31, 38, 135, 0.05);
}
.ui.segment.todolist-form .MuiIconButton-root:hover {
  background: transparent;
}
.ui.segment.todolist-form .MuiSvgIcon-root path {
  color: #fff;
}

/* clock popup */
#Wrap ~ div .MuiPaper-root {
  background: rgba(255, 255, 255, 0.55);
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
#Wrap ~ div .MuiClockPicker-arrowSwitcher ~ div > div > div:nth-child(2),
#Wrap ~ div .MuiClockPicker-arrowSwitcher ~ div > div > div:nth-child(3) {
  background-color: #fd746c;
}
#Wrap ~ div .MuiClockPicker-arrowSwitcher ~ div > div > div:nth-child(3) > div {
  background-color: #fd746c;
  border-color: #fd746c;
}
#Wrap ~ div .MuiClockPicker-arrowSwitcher ~ div > .MuiButtonBase-root {
  background-color: #fd746c;
}
#Wrap ~ div .css-18puooo {
  width: 5px;
}
/* fd746c  */

/* 종일 */
.all-day {
  margin-left: 1rem;
}
.ui.toggle.checkbox label {
  color: #444;
}
.ui.toggle.checkbox input:checked ~ label:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: #fd746c !important;
}

/* 추가 버튼 */
.ui.segment.todolist-form .add-btn {
  font-size: 0.8rem;
  background-image: linear-gradient(
    to right,
    #fd746c 0%,
    #ff9068 51%,
    #fd746c 100%
  );
  background-size: 200% auto;
  box-shadow: 0 2px 10px 0 rgba(31, 38, 135, 0.05) !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ui.inverted.button.active,
.ui.inverted.button:focus,
.ui.segment.todolist-form .add-btn:hover {
  color: #fff;
  text-decoration: none;
  background-position: right center;
}
